<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="modal-header" style="align-items: center;">
    <h6 class="modal-title" id="myModalLabel2">거래처 수정</h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <form class="form-horizontal form-label-left" th:object="${account}">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group row">
            <label class="control-label col-md-1 col-sm-12">업체명</label>
            <input type="text" id="accountName" th:field="*{accountName}" class="form-control col-md-3 col-sm-12">
            <label class="control-label col-md-1 col-sm-12">구분</label>
            <select id="accountType" th:field="*{accountType}" class="select2_single form-control col-md-3 col-sm-12" tabindex="-1">
                <option value="purchase" selected>구매</option>
                <option value="sale">판매</option>
            </select>
            <label class="control-label col-md-1 col-sm-12">상태</label>
            <select id="statusType" th:field="*{statusType}" class="select2_single form-control col-md-3 col-sm-12" tabindex="-1">
                <option value="enable" selected>사용</option>
                <option value="disable">사용안함</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-1 col-sm-12">비고</label>
            <textarea id="comments" th:field="*{comments}" class="form-control col-md-11 col-sm-12" rows="3"></textarea>
        </div>
    </form>

    <div class="x_title" style="display: flex; align-items: center; justify-content: space-between; margin: 15px 0 0 0;">
        <h2>거래 품목</h2>
        <div>
            <button type="button" id="deleteManagementItems" onclick="accountEdit.deleteManagementItemRow()" class="btn btn-danger btn-sm" style="margin: 0px;">거래 품목 삭제</button>
            <button type="button" id="getItems" onclick="accountEdit.getItems()" class="btn btn-success btn-sm" style="margin: 0px;">거래 품목 추가</button>
        </div>
    </div>

    <table class="table table-striped" style="width: 97.5%; margin-bottom: 0px;">
        <colgroup>
            <col width="5%">
            <col width="20%">
            <col width="20%">
            <col width="15%">
            <col width="15%">
            <col width="30%">
        </colgroup>
        <thead>
        <tr>
            <th style="border-top: 0px; vertical-align: middle;">
                <div style="display: flex;">
                    <input type="checkbox" id="managementItem-check-all" onclick="accountEdit.checkAll()">
                </div>
            </th>
            <th style="border-top: 0px;">품목</th>
            <th style="border-top: 0px;">단위</th>
            <th style="border-top: 0px;">기본단가</th>
            <th style="border-top: 0px;">현재수량</th>
            <th style="border-top: 0px;">비고</th>
        </tr>
        </thead>
    </table>
    <div class="x_content" style="max-height: 250px; overflow-y: scroll; margin-top: 0px; padding: 0 3px 0 0;">
        <table class="table table-striped" style="margin: 0;">
            <colgroup>
                <col width="5%">
                <col width="20%">
                <col width="20%">
                <col width="15%">
                <col width="15%">
                <col width="30%">
<!--                <col width="30%">-->
            </colgroup>
            <tbody id="itemList">
            <!--
                TODO : 거래처 수정 시 품목에 대한 로직 구상
                        -> 모든 품목을 보여줄 것인가 아니면 사용중인 품목만 보여줄 것인가 (품목관리 페이지 기준)
                        -> 관리 품목 중에서 사용중 품목과 사용안함 품목을 어떻게 보여줄 것인가 (거래처 관리 품목 기준)
                        * 즉 사용안함 상태의 품목은 거래처의 거래품목에서 보여줄것인가 아닌가 고민해보아야함.
             -->
                <tr class="item-row" th:each="managementItem : ${account.getManagementItems()}">
                    <input type="hidden" name="managementItemId" th:value="*{managementItem.getId()}"/>
                    <td style="vertical-align: middle;">
                        <div style="display: flex;">
                            <input type="checkbox" name="managementItem-check" th:value="${managementItem.getId()}">
                        </div>
                    </td>
                    <td>
                        <select class="select2_single form-control" tabIndex="-1" name="item" th:value="${managementItem.getItem().getId()}" onchange="accountEdit.setItemInfo(this)">
                            <option value=""
                                    th:each="item : ${items}"
                                    th:value="${item.id}"
                                    th:text="${item.itemName}"
                                    th:selected="${managementItem.getItem().getId() == item.id}">
                                선택해주세요
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="unit" readOnly="readonly" th:value="${managementItem.getItem().getUnit()}" value="">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="basicPrice" th:value="${managementItem.getBasicPrice()}" value="">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="stockQuantity" value="" th:value="${managementItem.getItem().getStockQuantity()}" readOnly="readonly">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="comments" value="" th:value="${managementItem.getComments()}" readOnly="readonly">
                    </td>
<!--                    <td>-->
<!--                        <button type="button" class="btn btn-primary btn-sm" onclick="">삭제</button>-->
<!--                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
    <button type="button" id="saveAccount" class="btn btn-primary btn-sm" onclick="accountEdit.editAccount()">변경</button>
</div>

</html>